.calculadora{
    width: 400px;
}

.display{
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn{
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    background-color: #263238;
    cursor: pointer;
}

.btn:hover{
    background-color: #003b56;

}

.btn-eq{
    background-color: #BB3C88;
}

.btn-eq:hover{
    background-color: #a02970;

}

.calc{
    color: blueviolet;
}